/**************** Fonts ****************/

@font-face {
  font-family: "Museo Sans";
  src: url("fonts/museosans-500.otf");
}

@font-face {
  font-family: 'Rift Soft';
  src: url('fonts/riftsoft-regular-webfont.woff2') format('woff2'),
       url('fonts/riftsoft-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**************** End fonts ****************/

body {
  position: relative;
  padding-top: 65px;
  color: #fff;
  font-family: "Museo Sans";
  background: url('img/assembly.jpg') no-repeat #1a1b23;
}

.no-padding {
  padding: 0;
}

@media (max-width: 576px) {
  h2, h3 {
    text-align: center;
  }
}


/**************** Navbar ****************/

.navbar {
  padding: 1vh 16vh 1vh 16vh;
  background: transparent;
}

.navbar-brand {
  color: #777 !important;
}

.navbar-brand sup {
  position: relative;
  top: -12px;
  left: 4px;
  color: rgb(78, 81, 104);
}

.navbar-inverse .navbar-nav .nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #777;
}

.nav-link:visited {
  color: #fff;
}

.navbar-fixed-top {
  top: 30px;
}

.navbar-fixed-top.scrolled .navbar-brand {
  color: #000;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color: #000;
}

.navbar-fixed-top.scrolled .nav-link:visited {
  color: #000;
}

.navbar-fixed-top.scrolled {
  top: 0;
}

.navbar-fixed-top.scrolled .active {
  color: #000;
}

@media (max-width: 576px) {
  .navbar {
    padding: 10px;;
  }

  .navbar-fixed-top {
    top: 0;
  }

  .navbar-fixed-top.scrolled .navbar-toggler {
    background: lightgray;
  }

  .btn {
    margin: 0;
    padding: 20px 0;
    border-radius: 0;
  }
}

/**************** End Navbar ****************/

/**************** Sections ****************/

.kleros {
  height: 100vh;
}

.protocol {
  height: 100vh;
}

/**************** End Sections ****************/

/**************** Kleros section ****************/

.img-phone-pinakion {
  padding-top: 8vh;
  width: 70vh;
}

.kleros-based {
  font-weight: bold;
  font-size: 16px;
}

.kleros-title {
  position: relative;
  font-size: 70px;
  font-family: "Rift Soft";
  color: rgb(161, 166, 203);
}

.kleros-wording {
  padding-top: 30vh;
}

.kleros-description {
  font-size: 20px;
}

.btn-how-it-works {
  color: rgb(49, 56, 68);
  background-color: #fff;
  font-weight: bold;
}

.btn-wp {
  margin-left: 20px;
  font-weight: bold;
  background-color: rgb(78, 81, 104);
  border-color: transparent;
}

@media (max-width: 576px) {
  .kleros-wording {
    padding: 0;
  }

  .kleros-based {
    display: none;
  }

  .kleros-title {
    padding-top: 10vh;
    font-size: 40px;
    text-align: center;
  }

  .kleros-description {
    text-align: center;
  }

  .btn-how-it-works {
    margin-top: 10vh;
  }

  .btn-wp {
    margin-left: 0px;
  }
}

/**************** End Kleros section ****************/

/**************** Protocol section ****************/

#protocol {
  padding-top: 130px;
}

.protocol-title {
  font-family: "Rift Soft";
  color: rgb(161, 166, 203);
  font-size: 70px;
}

.protocol-subtitle {
  font-family: "Rift Soft";
  color: rgb(161, 166, 203);
  font-size: 100px;
}

.protocol-introduction {
  font-size: 30px;
}

.protocol-smart-contract {
  color: rgb(161, 166, 203);
}

.protocol-btn-how-it-works {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(124, 127, 150);
  border-radius: 3px;
  color: #fff;
  background-color: #000;
  font-weight: bold;
}

.protocol-btn-how-it-works:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgba(217, 217, 217, 0);
}

.iMac {
  overflow-x: hidden;
}

.img-iMac {
  width: 90vh;
}

@media (max-width: 576px) {
  #protocol {
    padding-top: 0px;
  }

  .protocol-title {
    font-family: "Rift Soft";
    color: rgb(161, 166, 203);
    font-size: 30px;
  }

  .protocol-subtitle {
    font-family: "Rift Soft";
    color: rgb(161, 166, 203);
    font-size: 50px;
  }

  .protocol-introduction {
    font-size: 18px;
  }
}

/**************** End Protocol section ****************/


/**************** How it works section ****************/

#how-it-works {
  padding: 130px 0;
}

.how-it-works-title {
  padding: 10px 0;
  font-family: "Rift Soft";
  color: rgb(255, 255, 255);
  font-size: 60px;
}

.how-it-works-items {
  margin-top: 10vh;
}

.how-it-works-img {
  height: 150px;
}

.how-it-works-img-jury, .how-it-works-img-decision {
  padding-top: 17px;
}

.how-it-works-content {
  padding: 0 30px;
  opacity: 0.5;
  font-size: 16px;
}

.how-it-works-btn-applications {
  margin-top: 8vh;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(124, 127, 150);
  border-radius: 3px;
  color: #fff;
  background-color: #000;
  font-weight: bold;
}

.how-it-works-btn-applications:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgba(217, 217, 217, 0);
}

@media (max-width: 576px) {
  #how-it-works {
    padding: 20px 0;
  }

  .how-it-works-content {
    padding: 0;
  }

  .how-it-works-title {
    padding: 5px 0;
    font-size: 50px;
  }
}


/**************** End How it works section ****************/


/**************** Applications section ****************/

#section-applications {
  min-height: 70vw;
  background: url("img/ipad.png");
  background-size: cover;
}

.applications-title {
  padding-top: 50px;
  font-family: "Rift Soft";
  font-size: 100px;
}

.applications-introduction-text {
  width: 410px;
  color: rgb(127, 131, 163);
  font-size: 1.2rem;
  font-weight: bold;
}

.applications-content-text-1 {
  color: gray;
  width: 400px;
}

.applications-content-text-2 {
}

.applications-kleroterion {
  font-size: 11px;
}

@media (max-width: 576px) {
  #section-applications {
    padding-top: 30px;
  }

  .applications-title {
    font-size: 40px;
  }

  .applications-introduction-text {
    width: 100%;
  }

  .applications-content-text-1 {
    width: 100%;
  }
}

/**************** End Applications section ****************/

/**************** Uses cases section ****************/

#uses-cases {
  padding-top: 130px;
}

.uses-cases-col-left {
  padding-right: 5vh;
}

.uses-cases-col-right {
  padding-right: 5vh;
}

.uses-cases-border {
  border-style: solid;
  border-width: 0.05em 0 0 0;
  border-color: rgb(219, 180, 113);
  background-color: rgba(217, 217, 217, 0);
  opacity: 0.2;
}

.uses-cases-item {
  margin-bottom: 20px 40px 15px 20px;
}

.uses-cases-img {
  margin-right: 10px;
}

.uses-cases-p {
  padding: 20px;
}

@media (max-width: 576px) {
  .uses-cases-item-arbitration::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    background: url("img/arbitration.png") no-repeat top right;
    background-position-x: 95%;
  }

  .uses-cases-item-crowdfunding::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    background: url("img/crowdfunding.png") no-repeat top right;
    background-position-x: 95%;
  }

  .uses-cases-item-copyright::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    background: url("img/copyright.png") no-repeat top right;
    background-position-x: 95%;
  }

  .uses-cases-item-social::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    z-index: -1;
    background: url("img/social_media.png") no-repeat top right;
    background-position-x: 95%;
  }
}


/**************** End Uses cases section ****************/

/**************** Team section ****************/

#team {
  padding-top: 60px;
}

.team-title {
  padding-top: 50px;
  font-family: "Rift Soft";
  font-size: 50px;
}

.team-advisors-title {
  font-family: "Rift Soft";
  font-size: 40px;
}

@media (max-width: 576px) {
  #team {
    padding-top: 0;
  }
}

/**************** End Team section ****************/

/**************** FAQ section ****************/

#FAQ {
  padding-top: 60px;
}

.faq-title-section {
  padding: 30px 0;
  font-family: "Rift Soft";
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.card, .card-header {
  padding: 5px 0 5px 0;
  background: transparent;
  border: none;
}

/**************** End FAQ section ****************/

/**************** Contact section ****************/

#contact {
  padding-top: 60px;
}

.contact-title-section {
  padding: 40px 0;
  font-family: "Rift Soft";
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.contact-slack-icon {
  width: 100px;
  padding-right: 40px;
}

.contact-twitter-icon {
  width: 120px;
  padding-right: 40px;
}

.contact-fb-icon {
  width: 70px;
}

.form-input {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: solid 1px rgb(127, 131, 163);
}

.form-input:hover {
  border-radius: 0;
  border: none;
  border-bottom: solid 1px rgb(127, 131, 163);
}

.form-control:focus {border-color:rgba(100,100,100,1)!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

.submit {
  margin-top: 1rem;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  background-color: rgb(131, 137, 177);
  font-size: 14px;
}

@media (max-width: 576px) {
  .contact-slack-icon {
    padding: 0 30px 0 40px;
    width: 120px;
  }

  .contact-twitter-icon {
    padding-right: 30px;
    width: 80px;
  }

  .contact-fb-icon {
    width: 57px;
  }
}

/**************** End Contact section ****************/


/**************** Footer ****************/

footer {
  padding-top: 3vh;
}

.footer-logo {
  display: inline;
  width: 50px;
}

.footer-right {
  line-height: 48px;
}

@media (max-width: 576px) {
  footer {
    text-align: center;
  }

/**************** End Footer ****************/
