/**************** Fonts ****************/

@font-face {
  font-family: "Museo Sans";
  src: url("fonts/museosans-500.otf");
}

@font-face {
  font-family: 'Rift Soft';
  src: url('fonts/riftsoft-regular-webfont.woff2') format('woff2'),
       url('fonts/riftsoft-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**************** End fonts ****************/

body {
  position: relative;
  padding-top: 65px;
  color: #fff;
  font-family: "Museo Sans";
  background: url('img/assembly.jpg') no-repeat #1a1b23;
}

/**************** Navbar ****************/

.navbar {
  background: transparent;
}

.navbar-brand {
  color: #fff;
}

.navbar-inverse .navbar-nav .nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #777;
}

.nav-link:visited {
  color: #fff;
}

.navbar-fixed-top.scrolled .navbar-brand {
  color: #000;
}


.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color: #000;
}

.navbar-fixed-top.scrolled .nav-link:visited {
  color: #000;
}

/**************** End Navbar ****************/

/**************** Sections ****************/

.kleros {
  height: 100vh;
}

.protocol {
  background-color: green;
  height: 100vh;
}

/**************** End Sections ****************/

/**************** Kleros section ****************/

.img-phone-pinakion {
  padding-top: 8vh;
  width: 70vh;
}

/**************** End Kleros section ****************/

/**************** Footer ****************/

.footer-logo {
  display: inline;
  width: 50px;
}

.footer-right {
  line-height: 48px;
}

/**************** End Footer ****************/
