/**************** Fonts ****************/

@font-face {
  font-family: "Museo Sans";
  src: url("fonts/museosans-500.otf");
}

@font-face {
  font-family: 'Rift Soft';
  src: url('fonts/riftsoft-regular-webfont.woff2') format('woff2'),
       url('fonts/riftsoft-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/**************** End fonts ****************/

body {
  position: relative;
  padding-top: 65px;
  color: #fff;
  font-family: "Museo Sans";
  background: url('img/assembly.jpg') no-repeat #1a1b23;
}

/**************** Navbar ****************/

.navbar {
  padding: 1vh 16vh 1vh 16vh;
  background: transparent;
}

.navbar-brand {
  color: #777 !important;
}

.navbar-brand sup {
  position: relative;
  top: -12px;
  left: 4px;
  color: rgb(78, 81, 104);
}

.navbar-inverse .navbar-nav .nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #777;
}

.nav-link:visited {
  color: #fff;
}

.navbar-fixed-top {
  top: 30px;
}

.navbar-fixed-top.scrolled .navbar-brand {
  color: #000;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color: #000;
}

.navbar-fixed-top.scrolled .nav-link:visited {
  color: #000;
}

.navbar-fixed-top.scrolled {
  top: 0;
}

@media (max-width: 576px) {
  .navbar {
    padding: 1vh;
  }
}

/**************** End Navbar ****************/

/**************** Sections ****************/

.kleros {
  height: 100vh;
}

.protocol {
  height: 100vh;
}

/**************** End Sections ****************/

/**************** Kleros section ****************/

.img-phone-pinakion {
  padding-top: 8vh;
  width: 70vh;
}

.kleros-wording {
  padding-top: 30vh;
}

/**************** End Kleros section ****************/

/**************** Protocol section ****************/

#protocol {
  padding-top: 130px;
}

.iMac {
  overflow-x: hidden;
}

.img-iMac {
  width: 90vh;
}

/**************** End Protocol section ****************/


/**************** How it works section ****************/

#how-it-works {
  padding-top: 130px;
}

.how-it-works-items {
  margin-top: 10vh;
}

.how-it-works-img {
  height: 130px;
}

/**************** End How it works section ****************/


/**************** Applications section ****************/

#section-applications {
  padding-top: 200px;
  min-height: 70vw;
  background: url("img/ipad.png");
  background-size: cover;
}

.applications-title {
  padding-top: 50px;
  font-family: "Rift Soft";
  font-size: 100px;
}

.applications-introduction-text {
  width: 410px;
  color: rgb(127, 131, 163);
  font-size: 1.2rem;
  font-weight: bold;
}

.applications-content-text-1 {
  color: gray;
  width: 400px;
}

.applications-content-text-2 {
}

/**************** End Applications section ****************/

/**************** Uses cases section ****************/

#uses-cases {
  padding-top: 130px;
}

.uses-cases-col-left {
  padding-right: 5vh;
}

.uses-cases-col-right {
  padding-right: 5vh;
}

.uses-cases-border {
  border-style: solid;
  border-width: 0.05em 0 0 0;
  border-color: rgb(219, 180, 113);
  background-color: rgba(217, 217, 217, 0);
  opacity: 0.2;
}

.uses-cases-item {
  margin-bottom: 20px 40px 15px 20px;
}

.uses-cases-img {
  margin-right: 10px;
}

.uses-cases-p {
  padding: 20px;
}

/**************** End Uses cases section ****************/

/**************** Team section ****************/

#team {
  padding-top: 60px;
}

.team-title {
  padding-top: 50px;
  font-family: "Rift Soft";
  font-size: 50px;
}

.team-advisors-title {
  font-family: "Rift Soft";
  font-size: 40px;
}

/**************** End Team section ****************/

/**************** FAQ section ****************/

#FAQ {
  padding-top: 60px;
}

.faq-title-section {
  padding: 30px 0;
  font-family: "Rift Soft";
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.card, .card-header {
  padding: 5px 0 5px 0;
  background: transparent;
  border: none;
}

/**************** End FAQ section ****************/

/**************** Contact section ****************/

#contact {
  padding-top: 60px;
}

.contact-title-section {
  padding: 40px 0;
  font-family: "Rift Soft";
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.contact-slack-icon {
  padding-right: 40px;
}

.form-input {
  background: transparent;
  border-radius: 0;
  border: none;
  border-bottom: solid 1px rgb(127, 131, 163);
}

.form-input:hover {
  border-radius: 0;
  border: none;
  border-bottom: solid 1px rgb(127, 131, 163);
}

.form-control:focus {border-color:rgba(100,100,100,1)!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

.submit {
  margin-top: 1rem;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  background-color: rgb(131, 137, 177);
  font-size: 1.5rem;
}



/**************** End Contact section ****************/


/**************** Footer ****************/

.footer-logo {
  display: inline;
  width: 50px;
}

.footer-right {
  line-height: 48px;
}

/**************** End Footer ****************/
