/**************** Fonts ****************/

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis-bold-webfont.woff2') format('woff2'),
    url('assets/fonts/metropolis-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis-semibold-webfont.woff2') format('woff2'),
    url('assets/fonts/metropolis-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis-medium-webfont.woff2') format('woff2'),
    url('assets/fonts/metropolis-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis-regular-webfont.woff2') format('woff2'),
    url('assets/fonts/metropolis-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('assets/fonts/metropolis-light-webfont.woff2') format('woff2'),
    url('assets/fonts/metropolis-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/**************** End Fonts ****************/

/**************** Global ****************/

* {
  font-family: 'Metropolis', sans-serif !important;
  scroll-behavior: smooth !important;
}

html {
  border: 0;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 84px 0 0;
  width: 100%;
}

body {
  overflow-x: hidden;
  position: relative;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: underline !important;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 63px;
}

h2 {
  font-size: 55px;
  font-weight: 500;
  line-height: 60px;
}

h3 {
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  line-height: 32px;
}

h5 {
  font-size: 18px;
  line-height: 30px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 14px;
  line-height: 24px;
}

.btn.btn-lg {
  font-size: 20px;
  font-weight: 700;
  height: 60px;
  padding: 17px 1.5rem;
  width: 241px;
}

.btn.btn-secondary {
  color: #1b1b1b;
  font-size: 15px;
  font-weight: 700;
}

/* For smooth scroll-to */
.anchor {
  height: 0;
  position: relative;
  top: -168px;
  visibility: hidden;
  width: 0;
}

.rightArrow {
  width: 30px;
  margin-left: 10px;
}

.short-hline {
  background: #1d1d1b;
  display: block;
  width: 20px;
  height: 4px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.short-hline:first-child {
  margin-top: 5px;
}

/**************** End Global ****************/

/**************** Telegram Button ****************/

.TelegramButton {
  bottom: 10px;
  height: 80px;
  position: fixed;
  right: 10px;
  width: 80px;
  z-index: 200;
}

.TelegramButton-image {
  height: 80px;
  width: 80px;
}

.TelegramButton-closeButton {
  background: #9b9b9b;
  border: 1px solid #fff;
  border-radius: 7.5px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  height: 15px;
  line-height: 13px;
  outline: none !important;
  padding: 0;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 3px;
  width: 15px;
}

/* < small */
@media (max-width: 576px) {
  .TelegramButton {
    display: none;
  }
}

/**************** Telegram Button ****************/

/**************** Header ****************/

.Header {
  background-image: url('assets/images/header.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 278px;
  padding-left: 12.75%;
  padding-right: 12.75%;
  padding-top: 122px;
}

/* < small */
@media (max-width: 576px) {
  .Header {
    padding-top: 12px;
  }
}

.Header-navbar {
  background: #1a1b23;
  height: 84px;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
}

.Header-navbarToggler {
  background: #fff;
  text-align: center;
  line-height: 9px;
  outline: none !important;
  z-index: 101;
}

.Header-navbarBrand {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 13px;
  font-weight: 300;
  justify-content: flex-start;
  letter-spacing: 5px;
  margin-left: -40px;
  padding-left: 12.75%;
}

.Header-navbarBrand:hover {
  text-decoration: none !important;
}

/* < medium */
@media (max-width: 767px) {
  .Header-navbarBrand {
    justify-content: center;
    padding-left: 0;
  }
}

.Header-logo {
  margin-right: 8px;
}

.Header-navbarContent {
  background: #1a1b23;
  flex: 2;
  font-size: 14px;
  font-weight: 700;
  justify-content: flex-end;
  width: initial !important;
  flex-wrap: nowrap;
}

.Header-navbarContent.show {
  margin: 0 -16px;
  padding: 13px 16px;
  position: fixed;
  top: 0;
  width: 100% !important;
}

.Header-navbarContent.show .Header-btn-readTheWhitepaper {
  margin-left: 0;
}

.Header-btn-readTheWhitepaper {
  border: none;
  margin-left: 30px;
  margin-right: 60px;
}

.Header-banner {
  color: #fff;
}

.Header-title {
  margin-bottom: 5px;
}

.Header-tagline {
  color: #a3a2a5;
  margin-bottom: 34px;
}

.Header-btn-learnMore {
  margin-bottom: 73px;
}

.Header-social {
  align-items: center;
  display: flex;
  font-weight: 500;
  line-height: 19px;
}

.Header-socialIcon {
  cursor: pointer;
}

.Header-navLink-language {
  width: 120px;
}

.dropdown-menu {
  float: right;
}

/**************** End Header ****************/

/**************** CountDown ****************/

.CountDown {
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 92px;
  padding-left: 12.75%;
  padding-right: 12.75%;
}

/* >= large */
@media (min-width: 992px) {
  .CountDown {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.CountDown-title {
  color: #1a1b23;
  margin-bottom: 0;
  text-align: center;
}

.CountDown-blocks {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 31px;
}

.CountDown-block {
  align-items: center;
  box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 91.67px;
  width: 100px;
}

.CountDown-amount {
  color: #1a1b23;
  font-size: 32px;
}

.CountDown-unit {
  font-size: 14px;
}

/**************** End CountDown ****************/

/**************** Video ****************/

.Video {
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
  padding-left: 18%;
  padding-right: 18%;
}

/* < small */
@media (max-width: 576px) {
  .Video {
    padding-left: 12.75%;
    padding-right: 12.75%;
  }
}

/* >= large */
@media (min-width: 992px) {
  .Video {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.Video-container {
  height: 0;
  padding-bottom: 46.75%;
  position: relative;
}

.Video-iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/**************** End Video ****************/

/**************** Challenge ****************/

.Challenge {
  align-content: flex-start;
  background: linear-gradient(#fff, transparent 50%),
    url('assets/images/video.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 223px;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 397px;
  position: relative;
  text-align: center;
}

/* < small */
@media (max-width: 576px) {
  .Challenge {
    padding-left: 12.75%;
    padding-right: 12.75%;
  }
}

/* >= large */
@media (min-width: 992px) {
  .Challenge {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.Challenge-text {
  margin-top: 26px;
}

.Challenge-arrow {
  bottom: 65px;
  cursor: pointer;
  display: block;
  position: absolute;
}

.Challenge-arrowImage {
  height: 72px;
  width: 72px;
}

/**************** End Challenge ****************/

/**************** Solution ****************/

.Solution {
  align-content: flex-start;
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 205px;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 68px;
  text-align: center;
}

/* < small */
@media (max-width: 576px) {
  .Solution {
    padding-left: 12.75%;
    padding-right: 12.75%;
  }
}

/* >= large */
@media (min-width: 992px) {
  .Solution {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.Solution-text {
  margin-top: 31px;
}

.Solution-image {
  width: 87.5%;
}

/**************** End Solution ****************/

/**************** HowKlerosWorks ****************/

.HowKlerosWorks {
  background-image: url('assets/images/how-kleros-works.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 175px;
  padding-left: 12.75%;
  padding-right: 12.75%;
  text-align: center;
}

/* >= large */
@media (min-width: 992px) {
  .HowKlerosWorks {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.HowKlerosWorks-steps {
  margin-top: 86px;
  text-align: left;
}

.HowKlerosWorks-step {
  padding: 0 10%;
}

/* >= large */
@media (min-width: 992px) {
  .HowKlerosWorks-step:nth-child(even) {
    margin-top: 186px !important;
  }
}

.HowKlerosWorks-number {
  color: #f2f5fa;
  font-size: 70px;
  font-weight: 700;
  left: 35%;
  position: absolute;
  top: -60px;
  z-index: -1;
}

.HowKlerosWorks-icon {
  float: left;
  width: 60px;
}

.HowKlerosWorks-title {
  font-weight: 700;
}

.HowKlerosWorks-description {
  overflow: hidden;
}

.HowKlerosWorks-crowdsourcing {
  margin-top: 170px;
}

/**************** End HowKlerosWorks ****************/

/**************** UseCases ****************/

.UseCases {
  background-image: url('assets/images/use-cases.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 380px;
  padding-left: 12.75%;
  padding-right: 12.75%;
  padding-top: 118px;
  text-align: center;
}

.UseCases-useCases {
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
  padding: 0 40px;
  text-align: left;
}

.UseCases-useCase {
  margin-top: 101px;
}

.UseCases-icon {
  float: left;
  height: 100%;
  margin-right: 18px;
  width: 60px;
}

.UseCases-description {
  font-weight: 300;
  overflow: hidden;
}

/**************** End UseCases ****************/

/**************** Pinakion ****************/

.Pinakion {
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 161px;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 82px;
  text-align: center;
}

/* < small */
@media (max-width: 576px) {
  .Pinakion {
    padding-left: 12.75%;
    padding-right: 12.75%;
  }
}

/* >= large */
@media (min-width: 992px) {
  .Pinakion {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.Pinakion-description {
  margin-top: 44px;
}

.Pinakion-features {
  justify-content: center;
  text-align: left;
}

.Pinakion-feature {
  display: flex;
  flex-direction: column;
}

.Pinakion-featureImage {
  align-self: center;
  margin-bottom: 40px;
  margin-top: 108px;
  width: 301px;
}

.Pinakion-findOutMore {
  color: #0059ab;
}

.Pinakion-findOutMore:hover {
  color: #0059ab;
}

/**************** End Pinakion ****************/

/**************** Security ****************/

.Security {
  background-image: url('assets/images/security-2.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 517px;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 119px;
  text-align: center;
}

/* < small */
@media (max-width: 576px) {
  .Security {
    padding-left: 12.75%;
    padding-right: 12.75%;
  }
}

/* >= large */
@media (min-width: 992px) {
  .Security {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.Security-description {
  margin-top: 27px;
}

/**************** End Security ****************/

/**************** Team ****************/

.Team {
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 182px;
  padding-left: 18%;
  padding-right: 18%;
  text-align: center;
}

/* < small */
@media (max-width: 576px) {
  .Team {
    padding-left: 12.75%;
    padding-right: 12.75%;
  }
}

.Team-members {
  justify-content: space-around;
  margin-top: 15%;
}

.Team-member {
  margin-top: 60px;
  min-width: 230px;
  position: relative;
}

.Team-member--last {
  opacity: 0;
  visibility: hidden;
}

/* < small */
@media (max-width: 576px) {
  .Team-member--last {
    display: none;
  }
}

.Team-memberPortraitContainer {
  height: 200px;
  margin: auto;
  position: relative;
  width: 200px;
}

.Team-memberPortrait {
  background: #f5f6f8;
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.Team-memberlinkedIn {
  bottom: 30px;
  display: block;
  height: 30px;
  right: 0;
  position: absolute;
  width: 30px;
}

.Team-memberTwitter {
  bottom: 0;
  display: block;
  height: 30px;
  right: 30px;
  position: absolute;
  width: 30px;
}

.Team-memberName {
  font-weight: 700;
  margin-top: 21px;
}

.Team-memberRole {
  color: #47525d;
}

.Team-jobsLink {
  color: #0059ab;
}

.Team-jobsLink:hover {
  color: #0059ab;
}

.Team-advisors {
  margin-top: 182px;
}

/**************** End Team ****************/

/**************** Media ****************/

.Media {
  justify-content: center;
  padding-top: 100px;
  text-align: center;
}

.Media-cards {
  justify-content: center;
  margin-top: 68px;
  text-align: left;
}

.Media-card {
  border: 1px solid #f2f5fa;
  border-radius: 4px;
  box-shadow: 0 2px 1px 0 #d2d1ce;
  margin: 38px 15px;
  padding: 40px 30px 112px;
}

.Media-titleImage {
  height: 45px;
  margin-bottom: 35px;
}

.Media-date {
  color: #9b9b9b;
  font-weight: normal;
}

.Media-readMore {
  bottom: 28px;
  color: #0059ab;
  font-size: 16px;
  font-weight: 500;
  position: absolute;
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
}

.Media-outlets {
  height: 59px;
  max-width: 100%;
}

.Media-ship {
  height: 288px;
  margin-top: 200px;
  position: relative;
  top: 13px;
}

/**************** End Media ****************/

/**************** Footer ****************/

.Footer {
  text-align: center;
}

.Footer-callToAction {
  background-image: url('assets/images/footer.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  justify-content: center;
  padding: 84px 0 64px 0;
}

.Footer-signUpMessage {
  font-size: 30px;
  font-weight: 700;
}

.Footer-quote {
  font-weight: 300;
  margin-top: 16px;
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
}

.Footer-signUpInput {
  margin-top: 28.5px;
}

.Footer-inputGroup {
  height: 65px;
}

.Footer-formControl {
  background: #ffffff;
  border: 1px solid rgba(151, 151, 151, 0.21);
  border-radius: 3px;
  box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.05);
  padding-left: 29.5px;
}

.btn-signUpButton {
  background: #dd042b;
  border: none;
  border-radius: 0 3px 3px 0;
  box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.1),
    0 2px 9px 0 rgba(0, 0, 0, 0.17);
  color: #fff !important;
  cursor: pointer;
  width: 100%;
}

.btn-signUpButton:hover {
  background: #000;
}

.Footer-signUpPrivacy {
  color: rgba(255, 255, 255, 0.35);
  font-size: 13px;
  font-weight: 300;
  margin-top: 23.5px;
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
}

.Footer-separator {
  background: #fff;
  height: 2px;
  margin-bottom: 80px;
  margin-top: 59px;
  opacity: 0.11;
}

.Footer-links {
  text-align: left;
}

.Footer-linksList {
  font-weight: 300;
}

.Footer-socialLink:hover {
  text-decoration: none !important;
}

.Footer-socialIcon {
  height: 37px;
  margin-right: 8px;
  margin-top: 6px;
  width: 37px;
}

.Footer-end {
  color: #1a1b23;
  justify-content: space-around;
  padding-bottom: 65px;
  padding-top: 35px;
}

.Footer-brand {
  align-items: center;
  color: #1a1b23;
  display: flex;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 5px;
}

.Footer-brand:hover {
  color: #1a1b23;
  text-decoration: none !important;
}

.Footer-logo {
  margin-right: 8px;
}

.Footer-copyright {
  text-align: right;
}

/**************** End Footer ****************/

/********************************************/
/**************** Token Sale ****************/
/********************************************/

/**************** Global ****************/

.progressBar {
  height: 15px;
  border-radius: 3px;
  background-color: rgba(242, 245, 250, 0.13);
  width: 100%;
  margin-top: 18px;
  position: relative;
  margin-bottom: 51px;
}

.progressBar-progress {
  background: #fff;
  width: 100%;
  height: 15px;
  border-radius: 3px;
}

.progressBar-start {
  position: absolute;
  left: 0;
  bottom: -51px;
}

.progressBar-end {
  position: absolute;
  right: 0;
  bottom: -51px;
}

/**************** End Global ****************/

/**************** TokenSaleHeader ****************/

.TokenSaleHeader {
  background-position: center -1px;
  background-image: url('assets/images/use-cases.png');
}

.TokenSaleHeader-navbar {
  background: #052e69;
}

.TokenSaleHeader-navbarContent {
  background: #052e69;
}

.TokenSaleHeader-btn-announcement {
  background-color: #fff;
  border: none;
  color: #012c6b !important;
  margin-top: 29px;
  margin-right: 10.5px;
}

.TokenSaleHeader-btn-buyTokens {
  background: transparent;
  border: 1px solid #fff;
  margin-top: 29px;
}

.TokenSaleHeader-separator {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
  border: none;
  width: 100%;
  height: 2px;
  opacity: 0.42;
  margin-top: 50px;
  margin-bottom: 44px;
}

.TokenSaleHeader-countDownBlocks {
  justify-content: start;
  padding: 0;
}

.TokenSaleHeader-countDownBlock {
  background: #fff;
  color: #1a1b23;
}

.TokenSaleHeader-totalDistribution {
  padding-right: 50px;
}

/**************** End TokenSaleHeader ****************/

/**************** TokenSalePinakion ****************/

.TokenSalePinakion {
  padding-top: 0;
  padding-bottom: 134px;
  position: relative;
}

.TokenSalePinakion:before {
  content: '';
  position: absolute;
  background-image: url('assets/images/hexagon.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  transform: rotate(350deg) translate(-26%, 5%);
  z-index: -1;
}

/**************** End TokenSalePinakion ****************/

/**************** IICOInfo ****************/

.IICOInfo {
  background: none;
  padding-bottom: 121px;
  position: relative;
  overflow: hidden;
}

.IICOInfo:before {
  content: '';
  position: absolute;
  background-image: url('assets/images/hexagon.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  transform: rotate(195deg) translate(25%, -15%);
  z-index: -1;
}

.IICOInfo-steps {
  margin-top: 0;
}

.IICOInfo-buyTokens {
  background-color: #012c6b;
  width: initial !important;
}

.IICOInfo-step {
  padding: 0;
  margin-bottom: 140px;
}

.IICOInfo-lastStep {
  margin-bottom: 56px;
}

.IICOInfo-findOutMore {
  display: inline-block;
  margin-top: 18px;
  color: #0059ab;
}

.IICOInfo-findOutMore:hover {
  color: #0059ab;
}

/**************** End IICOInfo ****************/

/**************** IICOVideo ****************/

.IICOVideo {
  background-image: url('assets/images/header.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #fff;
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 145px;
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 100px;
  text-align: center;
}

/* < small */
@media (max-width: 576px) {
  .IICOVideo {
    padding-left: 12.75%;
    padding-right: 12.75%;
  }
}

/* >= large */
@media (min-width: 992px) {
  .IICOVideo {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.IICOVideo-title {
  font-size: 36px;
  margin-bottom: 37px;
}

.IICOVideo-description {
  margin-top: 24px;
}

/**************** End IICOVideo ****************/

/**************** TokenSaleStats ****************/

.TokenSaleStats {
  justify-content: center;
  text-align: center;
  padding-left: 12.75%;
  padding-right: 12.75%;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 185px;
}

/* >= large */
@media (min-width: 992px) {
  .TokenSaleStats {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.TokenSaleStats-title {
  margin-bottom: 95px;
}

.TokenSaleStats-logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.TokenSaleStats-logo {
  height: 175px;
}

.TokenSaleStats-getTokens {
  background-color: #012c6b;
  width: 208px !important;
  margin-top: 40px;
}

.TokenSaleStats-stats {
  text-align: left;
}

.TokenSaleStats-subtitle {
  font-size: 36px;
}

.TokenSaleStats-currentPeriod {
  margin-bottom: 38px;
  color: #47525d;
}

.TokenSaleStats-totalDistribution {
  margin-bottom: 125px;
}

.TokenSaleStats-totalDistributionText {
  color: #47525d;
  margin-bottom: 26px;
  font-weight: 300;
}

.TokenSaleStats-progressBar {
  background-color: #f2f5fa;
}

.TokenSaleStats-progressBarProgress {
  background-color: #012c6b;
}

.TokenSaleStats-totalDistributionProgressBarText {
  color: #47525d;
}

.TokenSaleStats-currentDistribution {
  align-items: center;
  margin-bottom: 45px;
}

.TokenSaleStats-currentDistributionText {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 15px;
  color: #47525d;
}

.TokenSaleStats-currentDistributionNumber {
  font-size: 32px;
  color: #1a1b23;
}

.TokenSaleStats-countDownText {
  margin-bottom: 26px;
  font-size: 18px;
  color: #47525d;
}

.TokenSaleStats-countDownBlocks {
  justify-content: start;
  padding: 0;
}

/**************** End TokenSaleStats ****************/

/**************** TokenDistribution ****************/

.TokenDistribution {
  justify-content: center;
  text-align: center;
  padding-left: 18%;
  padding-right: 18%;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 194px;
  position: relative;
}

/* < small */
@media (max-width: 576px) {
  .TokenDistribution {
    padding-left: 12.75%;
    padding-right: 12.75%;
  }
}

/* >= large */
@media (min-width: 992px) {
  .TokenDistribution {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.TokenDistribution:before {
  content: '';
  position: absolute;
  background-image: url('assets/images/hexagon.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  transform: rotate(190deg) translate(-18%, -25%);
  z-index: -1;
}

.TokenDistribution-totalTokenSupply {
  font-size: 30px;
  color: #000000;
  font-weight: 300;
  margin-bottom: 65px;
}

.TokenDistribution-totalTokenSupplyNumber {
  font-weight: 600;
}

.TokenDistribution-percentTag {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.TokenDistribution-percentTagTag {
  color: #ffffff;
  margin-right: 14px;
  height: 41.6px;
  line-height: 41.6px;
  width: 72.8px;
  min-width: 72.8px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 14px;
}

.TokenDistribution-percentTagTag--1 {
  background-color: #052e69;
}

.TokenDistribution-percentTagTag--2 {
  background-color: #a4d0f2;
}

.TokenDistribution-percentTagTag--3 {
  background-color: #dd042b;
}

.TokenDistribution-percentTagTag--4 {
  background-color: #fdc1b1;
}

.TokenDistribution-percentTagTag--5 {
  background-color: #d2d1ce;
}

.TokenDistribution-percentTagText {
  font-size: 18px;
  font-weight: 300;
  color: #47525d;
  text-align: left;
}

.TokenDistribution-infoText {
  color: #a3a2a5;
  font-size: 16px;
  text-align: justify;
  line-height: 26px;
}

/* < small */
@media (max-width: 576px) {
  .TokenDistribution-infoText {
    text-align: left;
  }
}

.TokenDistribution-pieImage {
  max-width: 100%;
  max-height: 400px;
  margin-top: 25px;
}

/**************** End TokenDistribution ****************/

/**************** TokenSaleRoadmap ****************/

.TokenSaleRoadmap {
  justify-content: center;
  text-align: center;
  padding-left: 13%;
  padding-right: 13%;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 115px;
}

/* >= large */
@media (min-width: 992px) {
  .TokenSaleRoadmap {
    padding-left: 22%;
    padding-right: 22%;
  }

  .TokenSaleRoadmap-timelineImageContainer {
    margin-left: -32% !important;
    margin-right: -32% !important;
  }
}

.TokenSaleRoadmap-title {
  margin-bottom: 76px;
}

.TokenSaleRoadmap-subtitle {
  margin-bottom: 35px;
  font-size: 36px;
  font-weight: 500;
  color: #000000;
}

.TokenSaleRoadmap-paragraph {
  color: #000000;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 100px;
  text-align: justify;
}

/* < small */
@media (max-width: 576px) {
  .TokenSaleRoadmap-paragraph {
    text-align: left;
  }
}

.TokenSaleRoadmap-bonusParagraph {
  margin-bottom: 192px;
}

.TokenSaleRoadmap-roundsParagraph {
  margin-bottom: 125px;
}

.TokenSaleRoadmap-legalParagraph {
  margin-bottom: 50px;
}

.TokenSaleRoadmap-legalStructure {
  margin-bottom: 111px;
  background-color: #012c6b;
}

.TokenSaleRoadMap-videoContainer {
  margin-bottom: 153px;
}

.TokenSaleRoadmap-githubLink {
  display: inline-block;
  color: #0059ab;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 153px;
  margin-top: 15px;
}

.TokenSaleRoadmap-githubLink:hover {
  color: #0059ab;
}

.TokenSaleRoadmap-rounds {
  max-height: 102px;
  width: 100%;
  margin-top: 13px;
  margin-bottom: 33px;
  margin-left: -40px;
  margin-right: -40px;
}

.TokenSaleRoadmap-milestonesTitle {
  margin-bottom: 127px;
}

.TokenSaleRoadmap-timelineImageContainer {
  width: 100%;
  width: 100vw;
  margin-left: -13%;
  margin-right: -13%;
}

.TokenSaleRoadmap-timelineImage {
  margin-bottom: 174px;
  max-width: 100%;
}

.TokenSaleRoadmap-legalTitle {
  margin-bottom: 37px;
}

.TokenSaleRoadmap-expensesBlock {
  margin-top: 63px;
  position: relative;
}

.TokenSaleRoadmap-expensesBlockTags:before {
  content: '';
  position: absolute;
  background-image: url('assets/images/hexagon.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  transform: rotate(94deg) translate(46%, 135%);
  z-index: -1;
}

.TokenSaleRoadmap-pieImage {
  width: 100%;
  max-height: 400px;
}

/**************** End TokenSaleRoadmap ****************/

/**************** FAQ ****************/

.FAQ {
  justify-content: center;
  text-align: center;
  padding-left: 18%;
  padding-right: 18%;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 143px;
}

/* < small */
@media (max-width: 576px) {
  .FAQ {
    padding-left: 12.75%;
    padding-right: 12.75%;
  }
}

/* >= large */
@media (min-width: 992px) {
  .FAQ {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.FAQ-title {
  margin-bottom: 80px;
}

.FAQ-block {
  margin-bottom: 43px;
}

.FAQ-question {
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  font-weight: 600;
  text-align: justify;
  margin-bottom: 11px;
}

/* < small */
@media (max-width: 576px) {
  .FAQ-question {
    text-align: left;
  }
}

.FAQ-answer {
  font-size: 16px;
  line-height: 26px;
  color: #47525d;
  font-weight: 300;
  text-align: justify;
}

/* < small */
@media (max-width: 576px) {
  .FAQ-answer {
    text-align: left;
  }
}

/**************** End FAQ ****************/

/**************** CallToAction ****************/

.CallToAction {
  background-image: url('assets/images/call-to-action.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  text-align: center;
  padding-left: 18%;
  padding-right: 18%;
  margin-left: -40px;
  margin-right: -40px;
  padding-bottom: 168px;
  padding-top: 104px;
}

/* < small */
@media (max-width: 576px) {
  .CallToAction {
    padding-left: 12.75%;
    padding-right: 12.75%;
  }
}

/* >= large */
@media (min-width: 992px) {
  .CallToAction {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.CallToAction-title {
  font-size: 44px;
}

/* < medium */
@media (max-width: 767px) {
  .CallToAction-title {
    font-size: 32px;
  }
}

/* < small */
@media (max-width: 576px) {
  .CallToAction-title {
    font-size: 20px;
    line-height: 35px;
  }
}

.CallToAction-getTokens {
  background-color: #0059ab;
  width: initial !important;
  margin-top: 29px;
}

/**************** End CallToAction ****************/

/**************** GetToKnowTeam ****************/

.GetToKnowTeam {
  justify-content: center;
  padding-top: 51px;
  text-align: center;
  padding-left: 18%;
  padding-right: 18%;
  margin-left: -40px;
  margin-right: -40px;
}

/* < small */
@media (max-width: 576px) {
  .GetToKnowTeam {
    padding-left: 12.75%;
    padding-right: 12.75%;
  }
}

/* >= large */
@media (min-width: 992px) {
  .GetToKnowTeam {
    padding-left: 22%;
    padding-right: 22%;
  }
}

.GetToKnowTeam-section {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.GetToKnowTeam-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}

.GetToKnowTeam-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  text-align: left;
}

.GetToKnowTeam-socialSection {
  align-items: center;
}

.GetToKnowTeam-socialIcon {
  height: 56px;
  width: 56px;
  margin-right: 0;
}

.GetToKnowTeam-ship {
  margin-top: 115px;
}

/**************** End GetToKnowTeam ****************/

/********************************************/
/**************** End Token Sale ****************/
/********************************************/
